/* footer */
footer {
    font-size: 0.5em;
    height: auto;
    background-color: $azulOs;
    text-align: start;
    color: white;
    
    position: absolute;
  bottom: 0;
    @include flex (row, space-between, center, wrap);

    @include phone {
        justify-content: center;

        img {
            width: 100%;
        }
    }

}

footer img {
    width: 280px;

}

footer a img {
    width: 30px;
}