// Variables
$azulOs: #163d5b;
$verdeCl: #a2ccc2;
$verdeOs: #2d8281;
$rosaCl: #e6b8c2;
$rosaOs: #c77881;

$font: "Poppins", sans-serif;
$font2: 'Indie Flower', cursive;

$sombra: 0 6px 10px rgba(10, 11, 13, 0.731);
;