* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
    

}

body{
    padding-bottom: 300px;
}

section {
    width: 100%;
}

main {
    @include flex (column, center, center, nowrap);

    section {
        @extend main;
    }

}